<ion-view >
    <!--<div class="bar bar-header  bar-royal">
        <h1 class="title"> Lex Mobile! </h1>
    </div>-->
    
    <!--<ion-nav-bar class="bar-positive" align-title="center">
        
        <ion-nav-title>
      <!--Lex Mobile!-->
    <!--</ion-nav-title>
    
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>-->
    

<div class="bar bar-header bar-positive">
      <h1 class="title">Header Buttons</h1>
</div>

    <ion-content class="padding has-subheader">

        <div>
            <button class="button  button-block button-stable" ng-click="createTripAction()">
                Create a new Trip
            </button> 
        </div>
        
        <div>
            <button class="button  button-block button-stable">
                Receive devices
            </button>
        </div>
        
        
        <!--<div class="row">
            <div class="col" style="text-align: center;">
                 <button class="button  button-block button-stable">
                <div class="row">
                    <div class="col">
                        <img src="images/image40.png" width="26px;" style="position: relative;
    top: 18px;
    left: -10px;">
                    </div>
                    <div class="col">
                        <p>Live <span> Trips</span></p>
                    </div>
                </div>
                </button>
            </div>
            <div class="col">
                 <button class="button  button-block button-stable">
                Block Button
                </button>
            </div>
  
        </div>-->



        <div class="row" style="text-align:center">
            <div class="col">
                <button  class="button  button-stable" >
                    <img src="images/image40.png" width="54px;" style="position: relative;top: 18px;left: -10px;">
                    <p style="    display: inline;font-size: 18px;">Live 	
                        <span class="text" style="display: block;margin-left: 64px;margin-top: -19px;"> 
                            Trips
                        </span>
                    </p>
                </button>
            </div>

            <div class="col">
                <button class="button  button-stable">
                    <img src="images/image36.png"  width="26px;" style="position: relative;top: 18px;left: -10px;">
                    <p style="display: inline;font-size: 18px;">
                    Browse 
                        <span class="text" style="display: block;margin-left: 40px;margin-top: -21px;">
                        Vehicles
                        </span>
                    </p>
                </button>
            </div>
        </div>





        
          <div class="row" style="text-align:center">
            <div class="col">
                <button  class="button  button-stable" >
                    <img src="images/image41.png" width="54px;" style="position: relative;top: 18px;left: -10px;">
                    <p style="    display: inline;font-size: 18px;">Manage 	
                        <span class="text" style="display: block;margin-left: 64px;margin-top: -19px;"> 
                            Devices
                        </span>
                    </p>
                </button>
            </div>

            <div class="col">
                <button class="button  button-stable">
                    <img src="images/image46.png"  width="26px;" style="position: relative;top: 18px;left: -10px;">
                    <p style="display: inline;font-size: 18px;">
                    Browse 
                        <span class="text" style="display: block;margin-left: 40px;margin-top: -21px;">
                        Routes
                        </span>
                    </p>
                </button>
            </div>
        </div>




    </ion-content>

</ion-view>