<ion-view >

    <div class="bar bar-header bar-positive">
      <h1 class="title">Header Buttons</h1>
    </div>

    <ion-content class="padding has-subheader">

        <div class="item item">
            <b>Available routes (3)</B>
        </div>
        
        <ion-list>

        </ion-list>



    </ion-content>

    <div class="bar bar-footer bar-stable" style="text-align:center;">
        <button class="button  button-block button-clear nextButton " ng-click="nextButtonClick()">
            Next >
        </button>
    </div>

</ion-view>