<ion-view >
    
    <ion-nav-bar class="bar-positive" align-title="center">    
         <ion-nav-title>
        <img src="images/image50.png" style="position: absolute;
    margin-left: 20px;
    width: 45px;
    margin-top: 2px;
    margin-left: 25px;"> Browse Vehicles
        </ion-nav-title>
        
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    
    
    
    
    <ion-content>
        
 <div class="col">
    <b style="     position: relative;
    left: 9px;
    top: -20px;
    font-size: 16px;
    line-height: 1.5;">Available Vehicles (4)</B>
	 <img src="images/plus-5-xxl.png" class="plue" style="width: 23px;
    position: relative;
    float: right;
    left: -31px;
    top: -18px;">
  </div>
 
 
<div class="list">

    <a class="item item-avatar" href="#" >
     
	    <img src="images/icons.png" style="border-radius:0px;" >
		<span class="left_border">
      <h2>Tempo - KA 05 AB 4533</h2>
      <p style=" font-size: 12px;
    margin-left: 2px;">VRL Logistics, Capacity: 1 ton</p></span>
	  
	  <img src="images/Editing-Pencil-icon.png" style="float: right;
    margin-top: 6px;
    width: 24px;
    margin-right: 2px;
">
    </a>
	<style>
.left_border{
     border-right: 1px solid #abc;
    position: absolute;
    width:215px;
}
	
	</style>

 
    <a class="item item-avatar" href="#" >
     
	    <img src="images/logo.png" style="border-radius:0px;" >
		<span class="left_border">
      <h2> Truck - KA 01 WA 9141</h2>
      <p style=" font-size: 12px;
    margin-left: 2px;"> Agrawal Logistics, Capacity: 2 ton</p></span>
	  
	  <img src="images/Editing-Pencil-icon.png" style="float: right;
    margin-top: 6px;
    width: 24px;
    margin-right: 7px;
">
    </a>
	
	 
	 
	 
    <a class="item item-avatar" href="#" >
     
	    <img src="images/icons.png" style="border-radius:0px;" >
		<span class="left_border">
      <h2> Truck - MH 05 G 134</h2>
      <p style=" font-size: 12px;
    margin-left: 2px;">VRL Logistics, Capacity: 1 ton</p></span>
	  
	  <img src="images/Editing-Pencil-icon.png" style="float: right;
    margin-top: 6px;
    width: 24px;
    margin-right: 7px;
">
    </a>
	
	 
	 
	 
    <a class="item item-avatar" href="#" >
     
	    <img src="images/logo.png" style="border-radius:0px;" >
		<span class="left_border">
      <h2>Truck - AP 17 R 1385</h2>
      <p style=" font-size: 12px;
    margin-left: 2px;"> Agrawal Logistics, Capacity: 2 ton</p></span>
	  
	  <img src="images/Editing-Pencil-icon.png" style="float: right;
    margin-top: 6px;
    width: 24px;
    margin-right: 7px;
">
    </a>
</div>
        
        
    </ion-content>
    
</ion-view>