<ion-view >

<ion-nav-bar class="bar-positive" align-title="center">
        
        <ion-nav-title>
      Create Trip: 1/4- Select a Route
    </ion-nav-title>
    
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>


<ion-content>
    
     <div class="list">

  <div class="item item">
    <b>Available routes (3)</B>
  </div>

  <a class="item" href="#" style="font-size: 17px;
">
    Express Bangalore to Delhi
	<p  id="small">6 Days, Total KMs: 2185kms</p>
  </a>

  
  <a class="item" href="#"  style="font-size: 17px;">
    Standard Bangalore to Delhi
	<p id="small"> 9 Days, Total KMs: 2185kms</p>
  </a>
  
  <a class="item" href="#"  style="font-size: 17px;">
    Standard Bangalore to Mangalore
	<p id="small"> 1 Days, Total KMs: 320 kms</p>
  </a>
  
  
  

</div>
    
</ion-content>

<ion-footer-bar>
     <button class="button  button-block button-large  button-stable">
                    Next >
                </button>
</ion-footer-bar>

</ion-view>