<ion-view ng-controller="createTripController">

<ion-nav-bar class="bar-positive" align-title="center">
        
        <ion-nav-title>
      Create Trip: 1/4- Select a Route
    </ion-nav-title>
    
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>


<ion-content class="padding has-header">
  
<div class="card">
  <div class="item">
  <p>Available Routes ({{routes.length}})</p>
</div>
</div>

  <ion-list>
  <ion-item ng-repeat="route in routes">
     {{route.RouteName}}
  </ion-item>
</ion-list>
    
     <!--<div class="list">

  <div class="item item">
    <b>Available routes ({{ response.routesCount }})</B>
  </div>

 <ion-list >
        <ion-item ng-repeat="route in response.Routes">
          {{route.RouteName }}
        </ion-item>

      </ion-list>
  
  

</div>-->
    
</ion-content>

<div class="bar bar-footer bar-stable" style="text-align:center;">
  <button class="button  button-block button-clear nextButton " ng-click="nextButtonClick()">
    Next >
  </button>
</div>


</ion-view>