<ion-view >
    
     <ion-nav-bar class="bar-positive" align-title="center">    
         <ion-nav-title>
        Create Trip: 3/4- Select a Device
        </ion-nav-title>
        
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    
    
    <ion-content>
        
         

 
 
 <div class="list list-inset" >
 <b style="line-height: 2.5;
    font-size: 20px;
    font-weight: normal;     margin-left: 4px;">Select Tracking Devices</b>
  <label class="item item-input">
    
    <input type="text" placeholder="Search" style="font-size: 17px;">
	 <img src="images/i.png" style="width: 30px;
    margin-right: 12px; "> 
  </label>
  <b style="    line-height: 3.5;
    font-size: 18px;
    font-weight: normal;
     
  
    left: 2px;">Devices matching “22”</b>
</div>
 
 
<div class="list" style="margin-top: -22px;
">

  
  <a class="item" href="#" style="font-size:19px">
     ID: 223993BG
	<p>EMEI # EUIMS90923423490</p>
  </a>

  <a class="item" href="#" style="font-size:19px">
    ID: 222590BG
	<p>EMEI # EUIMS90923423490</p>
  </a>
   

</div>



        
        
    </ion-content>
    
    <div class="bar bar-footer  bar-stable">
  <div class="title" ng-click="nextButtonClick()"> Next ></div>
</div>
    
    
</ion-view>